
.islandora_versionable_objects dd {
  margin: 0;
  padding: 0;
  text-align: center;
}

.versionable_object {
  display: -moz-inline-stack;
  display: inline-block;
  margin: 1.5em 1.84%;
  min-height: 100px;
  min-width: 100px;
  vertical-align: bottom;
  width: 20%;
}

.islandora_critical_edition_object_thumb img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div.transcriptions-container, div.operations-container, div.edition-container {
  float: left;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 100px;
  min-height: 25px;
}

div.transcriptions-container{
  right: 20px;
}

div.operations-container{
  right: 30px;
}

div.version-links, div.edition-links {
  position: absolute;
  top: 0px;
}
div.version-links {
  left: 0px;
}
div.edition-links {
  right: 0px;
}
select.transcription-select {
  max-width: 200px;
  margin-top: 4px;
}
div.transcription-links, div.operation-links {
  position: absolute;
  right: 15px;
  top: 4px;
  background-color: #ffffff;
}
div.operation-links {
  left: 0px;
  width: 180px;
}
.versions_table {
 width: 100%;
}
.collation_filter {
width: 10%;
}
.collation_operations {
  width:20%;
}
.version_operations {
  width:14% !important;
}
#zoom_image {

}
