div.diplomatic_tei * .del .del{
  display: none;
}
div.diplomatic_tei * .expan,
div.diplomatic_tei * .corr {
  display :none;
}
div.diplomatic_tei * .mod .superlinear,
div.diplomatic_tei * .mod .strikethrough,
div.diplomatic_tei * .in-line > .superlinear {
  display :none;
}
div.diplomatic_tei * .unclear {
  color: green;
}

div.diplomatic_tei * div#tei-margin-left {
  background-color:#e7e4e4;
  float: left;
  width: 20%;
}
div.diplomatic_tei * div#tei-body {
  margin-left:1em;
  float:right;
  width:78%;
}
div.diplomatic_tei * div#tei-header{
  position: relative;
}
div.diplomatic_tei * .add,
div.diplomatic_tei * add{
  color:green;
  text-decoration: underline;
}
div.diplomatic_tei * .del,
div.diplomatic_tei * del{
  text-decoration: line-through;
  color: #990000;
}
div.diplomatic_tei * .add .add,
div.diplomatic_tei * add add{
  color:green;
}
div.diplomatic_tei * .add .del,
div.diplomatic_tei * add del{
  color:#990000;
  text-decoration: underline;
}
div.diplomatic_tei * .del .add,
div.diplomatic_tei * del add{
  text-decoration: underline;
  color: green;
}
div.diplomatic_tei * .del .del,
div.diplomatic_tei * del del{
  text-decoration: line-through;
  color: blue;
  font-size: large;
}
