/**
 * @file
 * Print styling
 *
 * We provide some sane print styling for Drupal, hiding most visuals.
 */

#content a[href^="javascript:"]:after,
#content a[href^="#"]:after { /* Only display useful links. */
/*   content: ""; */
}

#content abbr[title]:after { /* Add visible title after abbreviations. */
/*   content: " (" attr(title) ")"; */
}

#content {
    left: 0 !important;
    width: 100% !important;
}
uncomment when ready to test printing
#header {
/*   display: none !important; */
}

#content { /* Un-float the content */
  float: none !important;
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  top: 0px !important;
}

body,
#page,
#main,
#content { /* Turn off any background colors or images */
  color: #000;
  background-color: transparent !important;
  background-image: none !important;
}

body.sidebar-first {
    left: 0 !important;
    width: 100% !important;
}
#skip-link,
#toolbar,
#navigation,
/* .region-sidebar-first, */
/* .region-sidebar-second, */
#header,
#footer,
.breadcrumb,
.tabs,
.action-links,
.links,
.book-navigation,
.forum-topic-navigation,
.pager,
.contextual-links-region,
.feed-icons { /* Hide sidebars and nav elements */
  visibility: hidden !important;
  display: none !important;
}

#westTabs {
  visibility: visible !important;
  display: inline !important;
}

#admin-menu {
  visibility: hidden !important;
  display: none !important;
}
html body.admin-menu {
	margin-top: 0px !important;
}
body.admin-menu {
  margin-top: 0px !important;
}
body {
  margin-top: 0px !important;
}

#page-title {
  visibility: hidden !important;
  display: none !important;
}

#full-window-button {
  visibility: hidden !important;
  display: none !important;
}

#bookview_button {
      visibility: hidden !important;
  display: none !important;
}

#main {
	padding-top: 0.0em !important;
}

html {
  height: 100% !important;
}

.messages--warning, .messages, .warning {
  visibility: hidden !important;
  display: none !important;
}

.region-sidebar-first {
  visibility: hidden !important;
  display: none !important;
}
