
.full_text_hidden{
  display: none;
}
.teaser_only {
  font-style: oblique;
}
.teaser_only:after, .inaudible:after {
   content: " ...";
}
.versions_table {
  table-layout: automatic;
  width: 100%;
}

td.content, th.content {
  width:25%;
}
td.context, th.context {
  width:25%;
}